body{
    background-image:url('https://i.postimg.cc/Ls4cPY0n/snow-leopard-wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: fantasy;
}

h1{
    display:flex;
    justify-content: center;
    margin-top: 100px;
    color:white;
    
    
    
}

.navbox{
    display:flex;
    background-color: black;
    border-radius: 25px;
    height:40px;
    align-items:center;
    justify-content: flex-end;
    justify-content:space-around
    
}

#link{
    color:white;
   

}

#link:hover{
   cursor:pointer;
   transform: scale(1.1);
   background-color: white;
   color:black;
   
}

